<div class="toolbar">
    <button class="square">Search for places</button>
    <button class="round" (click)="onGeolocalisation()"><span class="material-icons">gps_fixed</span></button>
</div>
<div class="weather">
    <p *ngIf="error">{{ error }}</p>
    <div *ngIf="weatherForecast">
        <img alt="{{todayWeather.weather_state_name}}" src="../../assets/images/{{todayWeather.weather_state_name}}.png">
        <p class="temp">{{ theTemp }}°C</p>
        <p class="state">{{ todayWeather.weather_state_name }}</p>
    </div>
</div>
<div class="footer">
    <div id="date">
        <p>Today <span class="bull">&bull;</span> {{ day }}, {{ date }} {{  month }}</p>
    </div>
    <div id="place">
        <p *ngIf="location"><span class="material-icons">location_on</span> {{ location.title }}</p>
    </div>
</div>