@import '~material-design-icons/iconfont/material-icons.css';

$main-background: #100E1D;
$left-background: #1E213A;
$left-background-text: #88869D;
$main-text-color: #E7E7EB;
$toolbar-button-color-hover: #110E3C;
$toolbar-button-background: #6E707A;
$toolbar-button-background-hover: #E7E7EB;
$toolbar-button-dimension: 40px;
$min-temp: #A09FB1;
$text-font: 'Raleway', sans-serif;

body {
    background-color: $main-background;
    color: $main-text-color;
    font-family: $text-font;
    margin: 0;
}

#today-preview {
    background-color: $left-background;
    margin: 0;

    .weather {
        text-align: center;
        color: $left-background-text;
        font-size: 32px;

        .image {
            position: relative;
            z-index: 1;

            &::before {
                background: url(./assets/images/Cloud-background.png) top center;
                opacity: 0.2;
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            img {
                max-width: 150px;
            }
        }

        .temp {
            .value {
                font-size: 72px;
                color: $main-text-color;
            }
        }
    }

    #date p,
    #place p {
        color: $left-background-text;
        font-size: 18px;
        text-align: center;

        .bull {
            padding: 0 15px;
        }

        .material-icons {
            vertical-align: middle;
        } 
    }

    .footer {
        height: 15vh;
    }

}

#previous-preview {

    .next-days-forecast {
        display: flex;
        justify-content: space-around;

        .day-forecast {
            width: 120px;
            height: 180px;
            text-align: center;
            background-color: $left-background;

            .date {
                padding: 15px 0;
            }

            .image img {
                max-height: 75px;
            }

            .temp {
                padding: 15px 0;
                display: flex;
                justify-content: space-around;

                .min {
                    color: $min-temp
                }
            }
        }
    }
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    button {
        color: $main-text-color;
        background-color: $toolbar-button-background;
        box-shadow: 0 4px 8px $main-background;
        border: 0;
        height: $toolbar-button-dimension;
        transition: 1s;

        &:hover {
            color: $toolbar-button-color-hover;
            background-color: $toolbar-button-background-hover;
        }

        &:focus {
            outline: none;
        }

        &.square {
            padding: 0 20px;
        }
    
        &.round {
            border-radius: 50px; 
            width: $toolbar-button-dimension;
        }
    }
}