@import '~material-design-icons/iconfont/material-icons.css';

$main-background: #100E1D;
$left-background: #1E213A;
$left-background-text: #88869D;
$main-text-color: #E7E7EB;
$toolbar-button-color-hover: #110E3C;
$toolbar-button-background: #6E707A;
$toolbar-button-background-hover: #E7E7EB;
$toolbar-button-dimension: 40px;
$min-temp: #A09FB1;
$progressbar-percentage: #FFEC65;
$text-font: 'Raleway', sans-serif;

@mixin highlightCards($highlightHeight) {
    text-align: center;
    background-color: $left-background;
    width: 300px;
    height: $highlightHeight;
    display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 0 20px 0;

            .value {
                font-size: 32px;

                .number {
                    font-size: 48px;
                    vertical-align: middle;
                }
            }
}

@mixin progressBar($progressBackground) {
    height: 8px;
    background-color: $progressBackground;
    border-radius: 5px;  
}

body {
    background-color: $main-background;
    color: $main-text-color;
    font-family: $text-font;
    margin: 0;
}

#today-preview {
    background-color: $left-background;
    margin: 0;

    .weather {
        text-align: center;
        color: $left-background-text;
        font-size: 32px;

        .image {
            position: relative;
            z-index: 1;

            &::before {
                background: url(./assets/images/Cloud-background.png) top center;
                opacity: 0.2;
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            img {
                max-width: 150px;
            }
        }

        .temp {
            .value {
                font-size: 72px;
                color: $main-text-color;
            }
        }
    }

    #date p,
    #place p {
        color: $left-background-text;
        font-size: 18px;
        text-align: center;

        .bull {
            padding: 0 15px;
        }

        .material-icons {
            vertical-align: middle;
        } 
    }

    .footer {
        height: 15vh;
    }

}

#previous-preview {

    .next-days-forecast {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .day-forecast {
            width: 120px;
            height: 180px;
            text-align: center;
            background-color: $left-background;

            .date {
                padding: 15px 0;
            }

            .image img {
                max-height: 75px;
            }

            .temp {
                padding: 15px 0;
                display: flex;
                justify-content: space-around;

                .min {
                    color: $min-temp
                }
            }
        }
    }
}

#today-highlight {
    .title {
        font-size: 20px;
        margin: 50px 0 20px 0;
    }

    #highlights {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        #wind {
            @include highlightCards(180px);

            .compass {
                vertical-align: middle;

                .material-icons {
                    background-color: $toolbar-button-background;
                    border-radius: 50px;
                    padding: 5px;
                }
            }
        }

        #humidity {
            @include highlightCards(180px);

            .progress-bar {
                width: 15em;
                margin: 0 auto;

                .scale {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                }

                .progress-background {
                    @include progressBar($main-text-color);
                    
    
                    .progress-percentage {
                        @include progressBar($progressbar-percentage);
                    }
                }

                .scale-type {
                    text-align: right;
                    font-size: 14px;
                }
            }
        }

        #visibility {
            @include highlightCards(140px);
        }

        #air-pressure {
            @include highlightCards(140px);
        }
    }
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    button {
        color: $main-text-color;
        background-color: $toolbar-button-background;
        box-shadow: 0 4px 8px $main-background;
        border: 0;
        height: $toolbar-button-dimension;
        transition: 1s;

        &:hover {
            color: $toolbar-button-color-hover;
            background-color: $toolbar-button-background-hover;
        }

        &:focus {
            outline: none;
        }

        &.square {
            padding: 0 20px;
        }
    
        &.round {
            border-radius: 50px; 
            width: $toolbar-button-dimension;
        }
    }
}