@import '~material-design-icons/iconfont/material-icons.css';

$main-background: #100E1D;
$left-background: #1E213A;
$toolbar-button-color: #E7E7EB;
$toolbar-button-background: #6E707A;
$toolbar-button-dimension: 40px;
$text: #fff;
$text-font: 'Raleway', sans-serif;

body {
    background-color: $main-background;
    color: $text;
    font-family: $text-font;
    margin: 0;
}

#today-preview {
    background-color: $left-background;
    margin: 0;
}

.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

    button {
        color: $toolbar-button-color;
        background-color: $toolbar-button-background;
        box-shadow: 0 4px 8px $main-background;
        border: 0;
        height: $toolbar-button-dimension;

        &.square {
            padding: 0 20px;
        }
    
        &.round {
            border-radius: 50px; 
            width: $toolbar-button-dimension;
        }
    }
}